.jumbotron{
    background-color: white;
    margin-bottom: 0;
}
@media (min-width : 768px){
    .jumbotron{
        padding-top:6rem ;
        padding-bottom: 6rem;
    }
}

.jumbotron h1{
    font-weight: 300;
}
.jumbotron .container{
    max-width: 640px;
}



